@model CarriageViewModel

@{
    ViewBag.Title = "Вагон";
}

<div class="car-full-info container">
    <div class="block-caption display-4">Выберите место в вагоне</div>

    <div id="free-seats" style="display:none">@Html.Raw(Json.Serialize(Model.Carriage.Seats))</div>

    <div class="car-schema text-center">
        @Html.Raw(@ViewBag.CarriageSchemaSvg)
    </div>


    <form action="/order" class="passengers-block" method="post" asp-antiforgery="true">
        @Html.HiddenFor(x => x.CarriageSerialized)
        @for (int i = 0; i < Model.Tickets.Count; i++) {
            <div class="passenger" id="passenger@((i+1).ToString())">
                <div class="passenger-number">Пассажир №<span class="number">@(i+1)</span> (место: <span class="seat"></span>)</div>
                <input class="seat-input" asp-for="Tickets[i].SeatNumber" type="hidden"/>
                <input class="passenger-is-active" asp-for="Tickets[i].IsActive" type="hidden"/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input asp-for="Tickets[i].Surname" class="form-control" placeholder="Фамилия">
                                <span asp-validation-for="Tickets[i].Surname"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <input asp-for="Tickets[i].Name" type="text" class="form-control" placeholder="Имя">
                                <span asp-validation-for="Tickets[i].Name"></span>
                            </div>
                            <div class="additional-info birthdate form-group col-6">
                                <div class="birthdate-picker">
                                    <input asp-for="Tickets[i].BirthDate" type="text" class="form-control" placeholder="Дата рождения" autocomplete="off">
                                    <span asp-validation-for="Tickets[i].BirthDate"></span>
                                </div>
                            </div>
                            <div class="additional-info student-id form-group col-6">
                                <input asp-for="Tickets[i].StudentsCardId" type="text" class="form-control" placeholder="Серия и № студ. билета">
                                <span asp-validation-for="Tickets[i].StudentsCardId"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="passenger-type form-control" asp-for="Tickets[i].PassengerType" asp-items="@Html.GetEnumSelectList(typeof(PassengerType))">
                            </select>
                            <span asp-validation-for="Tickets[i].PassengerType"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <div class="text-center">
            <div class="email col-md-6 push-md-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="Ваш email">
                <span asp-validation-for="Email"></span>
                <input asp-for="MobilePhone" type="text" class="form-control" placeholder="Номер мобильного">
                <span asp-validation-for="MobilePhone"></span>
            </div>
            <button type="submit" class="order-btn btn btn-lg btn-success">Оформить билеты</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="/js/carriage.js"></script>
}
