@model TrainsSearchResult

@{ 
    ViewBag.Title = "Поиск поезда";
}

<div class="container">
    @Html.Partial("_SearchBlock")
</div>
<div class="container search-results">
    @if (@Model.Trains.Count > 0) {
        <div class="search-results-info display-4">По вашему запросу нашлось @Model.Trains.Count поездов:</div>
    }
    else {
        <div class="search-results-info display-4">Рейс по этому маршруту не найден на заданную дату.<br />Попробуйте изменить условия поиска.</div>
    }
    @foreach (var train in Model.Trains) {
        <div class="train-block w-100">
            <div class="invisible train-hash">@train.Hash</div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div class="train-basic-info text-center">
                        
                        @if (train.Category.Id == 12) {
                            <img src="/img/train-intercity.png" />
                        }
                        else {
                            <img src="/img/train-usual.png" />
                        }
                        <div class="train-number"><span>@train.Number</span></div>
                        @if (train.Category.Id == 12) {
                            <div class="train-type"><span>@train.Category.Name</span></div>
                        }
                        <div>
                            @Model.Stations.Find(st => st.Id == train.DepartureStationId).Name
                        </div>
                        <div>
                            ↓
                        </div>
                        <div>
                            @Model.Stations.Find(st => st.Id == train.ArrivalStationId).Name
                        </div>
                    </div>
                </div>
                <div class="train-path-info col-md-4 col-sm-6">
                    <div class="station-name">@Model.Stations.Find(st => st.Id == train.PassengerDepartureStationId).Name</div>
                    <div class="departure">
                        <div class="name">Отправление</div>
                        @{ var departureDateTime = DateTime.ParseExact(train.PassengerDepartureDate, "yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.InvariantCulture);}
                        <div class="time">@departureDateTime.ToString("HH:mm")</div>
                        <div class="date">@departureDateTime.ToString("dd.MM.yyyy")</div>
                    </div>
                    <div class="trip">
                        <div class="name">В пути</div>
                        @{ var hours = (int)(train.TravelTime / 60);
                            var minutes = train.TravelTime - hours * 60;}
                        <div class="time">@hours ч @minutes м</div>
                    </div>
                    <div class="arrival">
                        <div class="name">Прибытие</div>
                        @{ var arrivalDateTime = DateTime.ParseExact(train.PassengerArrivalDate, "yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.InvariantCulture);}
                        <div class="time">@arrivalDateTime.ToString("HH:mm")</div>
                        <div class="date">@arrivalDateTime.ToString("dd.MM.yyyy")</div>
                    </div>
                    <div class="station-name">@Model.Stations.Find(st => st.Id == train.PassengerArrivalStationId).Name</div>
                </div>
                <div class="train-seats-info col-md-6 col-sm-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Типы вагонов</th>
                                <th>Свободные места</th>
                                <th>Цена (грн.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var carType in train.CarTypes) {
                                <tr>
                                    <td>@carType.Name</td>
                                    <td>@carType.FreeSeats</td>
                                    @if (!carType.NoTaxData) {
                                        <td>@carType.EstimatedTax</td>
                                    }
                                    else { 
                                        <td>н/д</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="train-divider" />
    }
</div>

@section Scripts{
    <script src="/js/order.js"></script>
}